In [505]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
%matplotlib inline

<h3> Data Collection </h3>

In [232]:
class exchange:
    def __init__(self, currency, currency_description, search_param):
        self.currency = currency
        self.currency_description = currency_description
        self.search_param = search_param

In [3]:
exchange_list = []
exchange_list.append(exchange('RUB', 'Russian Rouble ruble', 'rouble'))
exchange_list.append(exchange('TRY', 'Turkish Lira', 'turkish lira'))
exchange_list.append(exchange('EUR', 'Euro', 'euro exchange'))
exchange_list.append(exchange('GBP', 'Pound', 'british pound'))

In [13]:
def collect_tweets(exchange):
    tweets_list = []
    for i,tweet in enumerate(sntwitter.TwitterSearchScraper(exchange.search_param + ' since:2021-01-01 until:2021-02-01 lang:en').get_items()):
        tweets_list.append([tweet.user.username, tweet.content, tweet.date, tweet.likeCount,  exchange.currency, tweet])
    tweets_df = pd.DataFrame(tweets_list, columns=['Author', 'Text', 'Time', 'Like Count', 'Currency ISO Code', 'Url'])
    return tweets_df

In [424]:
all_twit_df = []
for exchange in exchange_list:
    ex_tweets_df = collect_tweets(exchange)
    all_twit_df.append(ex_tweets_df)
df = pd.concat(all_twit_df)
df

,Author,Text,Time,Like Count,Currency ISO Code,Url
0,TedDitchburnNNP,@james198428 @bellacaledonia Salmond works in ...,2021-01-31 22:43:18+00:00,0,RUB,https://twitter.com/TedDitchburnNNP/status/135...
1,calvin_1287,Not tryna get in rouble but they look like Swa...,2021-01-31 19:01:16+00:00,2,RUB,https://twitter.com/calvin_1287/status/1355954...
2,GeorgeKushtwit,Rouble farming Andy --- New Emotes https://t.c...,2021-01-31 17:49:32+00:00,0,RUB,https://twitter.com/GeorgeKushtwit/status/1355...
3,pietka_t,@WilliamtheArti1 @nypost Can you calculate !? ...,2021-01-31 14:57:14+00:00,0,RUB,https://twitter.com/pietka_t/status/1355892907...
4,Onmeed,The usual suspects who can’t get a gig in UK m...,2021-01-31 13:37:15+00:00,1,RUB,https://twitter.com/Onmeed/status/135587277638...
...,...,...,...,...,...,...
1285,weebo_kun,@SHOWNUBEANER “A British pound sign” why must ...,2021-01-01 05:58:23+00:00,0,GBP,https://twitter.com/weebo_kun/status/134488566...
1286,threadreaderapp,"@bogustrumper Salam, you can read it here: In ...",2021-01-01 04:38:50+00:00,0,GBP,https://twitter.com/threadreaderapp/status/134...
1287,trader_blitz,GBP/JPY | $GBPJPY | $GBP $JPY\n\nBRITISH POUND...,2021-01-01 00:42:01+00:00,0,GBP,https://twitter.com/trader_blitz/status/134480...
1288,Imoteda,@vincentdesmond_ Happy New Year my love!!! I h...,2021-01-01 00:40:48+00:00,1,GBP,https://twitter.com/Imoteda/status/13448057421...
1289,dean_allenavfc,"@NicolaSturgeon No British pound, and have to ...",2021-01-01 00:14:10+00:00,0,GBP,https://twitter.com/dean_allenavfc/status/1344...

In [425]:
df.to_csv('exchange_rates_dataset.csv', encoding='utf-8')

In [428]:
df = pd.read_csv('exchange_rates_dataset.csv')
df = df.drop(df.columns[0], axis=1)
df.head(100)

,Author,Text,Time,Like Count,Currency ISO Code,Url
0,TedDitchburnNNP,@james198428 @bellacaledonia Salmond works in ...,2021-01-31 22:43:18+00:00,0,RUB,https://twitter.com/TedDitchburnNNP/status/135...
1,calvin_1287,Not tryna get in rouble but they look like Swa...,2021-01-31 19:01:16+00:00,2,RUB,https://twitter.com/calvin_1287/status/1355954...
2,GeorgeKushtwit,Rouble farming Andy --- New Emotes https://t.c...,2021-01-31 17:49:32+00:00,0,RUB,https://twitter.com/GeorgeKushtwit/status/1355...
3,pietka_t,@WilliamtheArti1 @nypost Can you calculate !? ...,2021-01-31 14:57:14+00:00,0,RUB,https://twitter.com/pietka_t/status/1355892907...
4,Onmeed,The usual suspects who can’t get a gig in UK m...,2021-01-31 13:37:15+00:00,1,RUB,https://twitter.com/Onmeed/status/135587277638...
...,...,...,...,...,...,...
95,hewson000,@BittrexGlobal Today it's been 29 days and I d...,2021-01-25 11:46:17+00:00,0,RUB,https://twitter.com/hewson000/status/135367052...
96,hewson000,@BittrexGlobal Today it's been 29 days and I d...,2021-01-25 11:46:10+00:00,0,RUB,https://twitter.com/hewson000/status/135367049...
97,hewson000,@BittrexGlobal Today it's been 29 days and I d...,2021-01-25 11:46:00+00:00,0,RUB,https://twitter.com/hewson000/status/135367045...
98,hewson000,@BittrexGlobal Today it's been 29 days and I d...,2021-01-25 11:45:53+00:00,0,RUB,https://twitter.com/hewson000/status/135367042...
99,TradingMzansi,"""EMERGING MARKETS-Turkish lira leads EMEA FX g...",2021-01-25 11:41:38+00:00,0,RUB,https://twitter.com/TradingMzansi/status/13536...

In [430]:
df["target"] = ''
df['Time']= pd.to_datetime(df['Time'])
df["target"] = pd.to_numeric(df["target"])
df.dtypes

Author                            object
Text                              object
Time                 datetime64[ns, UTC]
Like Count                         int64
Currency ISO Code                 object
Url                               object
target                           float64
dtype: object

<h3> Exchange Rates of January 2021 </h3>

In [514]:
report_dataset = pd.read_excel('exchange_rates.xlsx', skiprows=[0])
report_dataset['Date'] = pd.to_datetime(report_dataset['Date'])
report_dataset.head(100)

         Date        RUB       GBP       TRY       EUR
0  2021-01-31  75.723385  0.728271  7.314766  0.823995
1  2021-01-30  75.723385  0.728271  7.314766  0.823995
2  2021-01-29  75.723385  0.728271  7.314766  0.823995
3  2021-01-28  76.407410  0.732801  7.386734  0.827061
4  2021-01-27  75.718838  0.729693  7.391613  0.825491
5  2021-01-26  75.149304  0.730446  7.351478  0.823520
6  2021-01-25  75.438776  0.730744  7.395079  0.822910
7  2021-01-24  74.930827  0.732398  7.418572  0.822504
8  2021-01-23  74.930827  0.732398  7.418572  0.822504
9  2021-01-22  74.930827  0.732398  7.418572  0.822504
10 2021-01-21  73.726682  0.728944  7.365932  0.822504
11 2021-01-20  73.617883  0.731865  7.446575  0.826378
12 2021-01-19  73.722387  0.734421  7.439581  0.824266
13 2021-01-18  74.263345  0.738337  7.505471  0.828912
14 2021-01-17  73.444197  0.734125  7.438670  0.824878
15 2021-01-16  73.444197  0.734125  7.438670  0.824878
16 2021-01-15  73.444197  0.734125  7.438670  0.824878
17 2021-01-14  73.482349  0.733611  7.381392  0.824810
18 2021-01-13  73.800674  0.731407  7.441312  0.821963
19 2021-01-12  74.051229  0.735466  7.487049  0.822301
20 2021-01-11  74.658801  0.741881  7.444709  0.822166
21 2021-01-10  74.122449  0.735739  7.358857  0.816327
22 2021-01-09  74.122449  0.735739  7.358857  0.816327
23 2021-01-08  74.122449  0.735739  7.358857  0.816327
24 2021-01-07  74.291300  0.734686  7.330319  0.814598
25 2021-01-06  73.607959  0.734600  7.339439  0.810504
26 2021-01-05  74.705810  0.736150  7.390922  0.814930
27 2021-01-04  73.472674  0.733247  7.366542  0.813273
28 2021-01-03  74.539239  0.732646  7.426534  0.814930
29 2021-01-02  74.539239  0.732646  7.426534  0.814930
30 2021-01-01  74.539239  0.732646  7.426534  0.814930
31 2020-12-31  74.539239  0.732646  7.426534  0.814930

In [491]:
report_dataset.dtypes

Date    datetime64[ns]
RUB            float64
GBP            float64
TRY            float64
EUR            float64
dtype: object

<h4>Calculating the change of exchange rate from time to the following day</h4>

By formula <img src="https://raw.githubusercontent.com/ahmetbeylihan/Sentiment-Analysis-Exchange-Rates/911275b7dd98d8c1455d963fee81bb8853bcff5a/percentage%20change%20of%20price.png?token=AOCL62JN4ATKQB7YNISS6GLBW6V44" width=200 height=200 />

In [497]:
def calculate_percentage_change_of_exchange_rate(day, previous_day):
    val = (day / previous_day) - 1 
    if val < 0:
        return -1
    elif val > 0:
        return 1
    else:
        return val

In [498]:
for (rowNo, rowData) in df.iterrows():
    try:
        day = (pd.to_datetime(rowData.values[2])).date().strftime('%Y-%m-%d')
        df_day = report_dataset[(report_dataset['Date'] == day)]
        
        previous_day = (pd.to_datetime(rowData.values[2])).date() + timedelta(days=-1)
        df_prev_day = report_dataset[(report_dataset['Date'] == previous_day.strftime('%Y-%m-%d'))]
        
        
        if rowData.values[4] == 'TRY': 
            val_first = df_day['TRY'].values[0];
            val_prev = df_prev_day['TRY'].values[0];
            df.loc[rowNo, 'target'] = calculate_percentage_change_of_exchange_rate(val_first, val_prev)
        elif rowData.values[4] == 'EUR': 
            val_first = df_day['EUR'].values[0];
            val_prev = df_prev_day['EUR'].values[0];
            df.loc[rowNo, 'target'] = calculate_percentage_change_of_exchange_rate(val_first, val_prev)
        elif rowData.values[4] == 'GBP': 
            val_first = df_day['GBP'].values[0];
            val_prev = df_prev_day['GBP'].values[0];
            df.loc[rowNo, 'target'] = calculate_percentage_change_of_exchange_rate(val_first, val_prev)
        elif rowData.values[4] == 'RUB': 
            val_first = df_day['RUB'].values[0];
            val_prev = df_prev_day['RUB'].values[0];
            df.loc[rowNo, 'target'] = calculate_percentage_change_of_exchange_rate(val_first, val_prev)


    except Exception as e:                                                                          
        print("An error occurred : ", e)

In [513]:
df

,Author,Text,Time,Like Count,Currency ISO Code,Url,target
0,TedDitchburnNNP,@james198428 @bellacaledonia Salmond works in ...,2021-01-31 22:43:18+00:00,0,RUB,https://twitter.com/TedDitchburnNNP/status/135...,0.0
1,calvin_1287,Not tryna get in rouble but they look like Swa...,2021-01-31 19:01:16+00:00,2,RUB,https://twitter.com/calvin_1287/status/1355954...,0.0
2,GeorgeKushtwit,Rouble farming Andy --- New Emotes https://t.c...,2021-01-31 17:49:32+00:00,0,RUB,https://twitter.com/GeorgeKushtwit/status/1355...,0.0
3,pietka_t,@WilliamtheArti1 @nypost Can you calculate !? ...,2021-01-31 14:57:14+00:00,0,RUB,https://twitter.com/pietka_t/status/1355892907...,0.0
4,Onmeed,The usual suspects who can’t get a gig in UK m...,2021-01-31 13:37:15+00:00,1,RUB,https://twitter.com/Onmeed/status/135587277638...,0.0
...,...,...,...,...,...,...,...
3531,weebo_kun,@SHOWNUBEANER “A British pound sign” why must ...,2021-01-01 05:58:23+00:00,0,GBP,https://twitter.com/weebo_kun/status/134488566...,0.0
3532,threadreaderapp,"@bogustrumper Salam, you can read it here: In ...",2021-01-01 04:38:50+00:00,0,GBP,https://twitter.com/threadreaderapp/status/134...,0.0
3533,trader_blitz,GBP/JPY | $GBPJPY | $GBP $JPY\n\nBRITISH POUND...,2021-01-01 00:42:01+00:00,0,GBP,https://twitter.com/trader_blitz/status/134480...,0.0
3534,Imoteda,@vincentdesmond_ Happy New Year my love!!! I h...,2021-01-01 00:40:48+00:00,1,GBP,https://twitter.com/Imoteda/status/13448057421...,0.0
3535,dean_allenavfc,"@NicolaSturgeon No British pound, and have to ...",2021-01-01 00:14:10+00:00,0,GBP,https://twitter.com/dean_allenavfc/status/1344...,0.0

In [512]:
df.describe()

        Like Count       target
count  3536.000000  3536.000000
mean      5.844174     0.016120
std      72.350458     0.859604
min       0.000000    -1.000000
25%       0.000000    -1.000000
50%       0.000000     0.000000
75%       1.000000     1.000000
max    2895.000000     1.000000

In [500]:
df.to_csv('sentiment.csv', encoding='utf-8')